.tides {
  display          : flex;
  width            : 80%;
  margin           : auto;
  padding          : 10px;
  background-color : white;
  flex-direction   : column;
  justify-content  : center;
}

.SD-tides {
  color      : black;
  text-align : center;
}

