.tides {
  display          : flex;
  width            : 80%;
  margin           : auto;
  padding          : 10px;
  background-color : white;
  flex-direction   : column;
  justify-content  : center;
}

.SD-tides {
  color      : black;
  text-align : center;
}

.back-button-link {
  text-align: center;
  margin: auto;
}

.back-button {
  color       : #6496c8;
  border      : solid 2px #6496c8;
  background  : rgba(0,0,0,0);
  text-align  : center;
}

.back-button:hover {
  color        : #346392;
  border-color : #346392;
  cursor       : pointer;
}

