.frames {
  display         : flex;
  padding         : 10px;
  text-align      : center;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

.googlin {
  position : absolute;
  width    : 1000px;
  height   : 1000px;
}
