
.App-header {
  height: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-background {
  background-image: url('./waves.svg')
}

.aggro-surf-welcome {
  max-height: 420px;
  min-height: 120px;
  font-family: Roboto;
}

.surf-sauce-h2 {
  color: #123752;
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-weight: 100;
}
