.App-header {
  display         : flex;
  height          : 150px;
  padding         : 20px;
  text-align      : center;
  flex-direction  : column;
  justify-content : center;
}

.App-background {
  background-image : url('./waves.svg');
}

.aggro-surf-welcome {
  min-height  : 120px;
  max-height  : 150px;
  font-family : Roboto;
}

.surf-sauce-h2 {
  margin      : 0px;
  padding     : 0px;
  color       : #123752;
  font-family : Roboto;
  font-weight : 100;
}
