.montage {
  display         : flex;
  margin          : auto;
  padding         : 10px;
  text-align      : center;
  align-items     : center;
  flex-wrap       : wrap;
  justify-content : space-around;
  padding-top: 200px;
}

.vidz {
  width  : 30%;
  margin : 10px;
}
