.frames {
  display         : flex;
  padding         : 10px;
  text-align      : center;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

#render {
  text-align : center;
}

.padding {
  padding-top: 200px;
}